  
    <script src="templates/d3/jquery.csvToTable.js"></script>
    <script>
    var path = window.location.href;
    var num = path.indexOf("?");
    num++;
    var path2 = [];
    for (var j = 0; j < path.length - num; j++) {
        path2[j] = path[j + num];
    }
    path = null;
    path = path2.join("");

    $(function() {
        // $('#CSVTable').CSVToTable('templates/d3/' + path + '.csv', { loadingImage: 'images/loading.gif', startLine: 0 });
        $('#TSVTable').CSVToTable('templates/d3/' + path + '.tsv', { loadingText: 'Loading TSV Data...', loadingImage: 'images/loading.gif', startLine: 0, separator: "\t" });
    });
    </script>
<div class="row">
    <h4>TSV Raw Data</h4>
    <div id="TSVTable"></div>
</div>

