
    <div class="row">
      <div class="col-lg-9">
        <article>
        <h2><span style="background-color: #bb0000;"> NOW </span></h2>
          <p class="abt">
            I’m a Master student studying Computer Science at The Ohio State University. Currently working with <a href="http://web.cse.ohio-state.edu/~hwshen/hwshen/Welcome.html" target="_blank">Prof. Han-Wei Shen</a> on my D3.JS project. My current research interests are Data Visualization and Human-Computer Interaction.
          </p>
        </article>
      </div>
      <div class="col-lg-3" style="margin-top: 75px; text-align:center">
        <img src="/images/logo.png" alt="LOGO" width="157.5" height="141">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <article>
        <h2><span> PAST </span></h2>
          <p class="abt">
            I received my Bachelor of Science degree from Department of Computer Science & Information Engineering of <a href="http://www.csie.ncu.edu.tw/" target="_blank">National Central University</a>. Worked with <a href="http://tshih.minelab.tw/" target="_blank">Prof. Timothy K. Shih</a> and <a href="http://www.minelab.tw/" target="_blank">MINE Lab</a>. Projects were about Human-Computer Interaction and Computer Graphics.
          </p class="abt">

        </article>
      </div>
      <div class="col-lg-3" style="margin-top: 75px; text-align:center">
        <img src="/images/logo_ncu.png" alt="LOGO" width="157.5" height="141">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <article>
        <h2><span> LINKS </span></h2>
          <p class="abt">

            Linkedin: <a href="https://www.linkedin.com/in/kevinyen91" target="_blank">https://www.linkedin.com/in/kevinyen91</a>
            <br>
            Github: <a href="https://github.com/worm6206/" target="_blank">https://github.com/worm6206/</a>
            <br>
            Resume/CV: <a href="https://drive.google.com/uc?export=download&id=0B9eXFyWAkPEXcUJjOXkzX0JzREU" target="_blank">PDF</a>
          </p class="abt">

        </article>
      </div>
      <div class="col-lg-3">
      </div>
    </div>