<!-- <div class="row" style="background-color:#3FFF36;">
  <article>
    <div class="col-md-6" style="background-color:#5DECFF;">
      <video width="828" height="582" autoplay="autoplay" loop>
        <source src="/images/3.mov">
      </video>
    </div>
    <div class="col-md-6" style="background-color:#FF6870;">
          <h2>
           A Computer Science master student at Ohio State University. 
           <br></br>
           Interested in Data Visualization and Human-Computer Interaction.
          </h2>
    </div>
  </article>
</div> -->
  <div class="row fill">
    <div class="row" style="text-align: center;max-height:582px;">
        <div style="max-width:828px;display: inline-block;text-align: center;">
          <video width="100%" autoplay="autoplay" loop>
            <source src="/images/3.mov">
          </video>
          <span class="label label-default">⬆ Demo of <a href="./d3">D3.JS Project</a></span>
        </div>
    </div>
    <br>
    <div class="row" style="text-align: center;">
      <h1 class="asp">
        A <rr>Computer Science</rr> master student at <rr>Ohio State University</rr>.<br>
        Interested in <rr>Data Visualization</rr> and <rr>Human-Computer Interaction</rr>.
      </h1>
    </div>
  </div>