<!-- <ul class="nav nav-pills pull-right">
	<li ui-sref-active="active"><a ui-sref="home">Home</a></li>
	<li ui-sref-active="active"><a ui-sref="project">Project</a></li>
	<li ui-sref-active="active"><a ui-sref="about">About</a></li>
</ul>
<h3 class="text-muted">Angular</h3> -->


<nav class="navbar navbar-default navbar-fixed-top" id="nav">
	<div class="container">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="alogo" ui-sref="home" style="font-family: 'Montserrat', sans-serif;font-size:36px;"><span><small>$ ./</small>Kevin<small>_</small>Yen</span></a>
	  </div>
	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav navbar-nav pull-right">
			<li ui-sref-active="active"><a ui-sref="project">Project</a></li>
			<li ui-sref-active="active"><a ui-sref="about">About</a></li>
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>