    <div class="row" style="margin-top:10%;">
      <div class="col-lg-12">
        <div class="row">
          <div class="thumb col-md-4" style="padding:20px;height:400px;">
              <a href="/viva">
                <h3>VIVAGRAPH.JS<small><br>(2016 - present)</small></h3>
                  <!--<div class="thumb-img" style="background-image: url('/assets/Palladio_thumb.png')"></div>-->
                <p>Vivagraph.js claims to be the fastest drawing javascript library. This project focus on bigger datasets than d3.js can handle.</p>
                <div class="row" style="text-align: center;">
                    <div style="display: inline-block;">
                      <img src="/images/viva.gif" height="150">
                    </div>
                </div>
              </a>
          </div>
          <div class="thumb col-md-4" style="padding:20px;height:340px;">
              <a href="/d3">
                <h3>D3.JS<small><br>(2015 - present)</small></h3>
                  <!--<div class="thumb-img" style="background-image: url('/assets/Palladio_thumb.png')"></div>-->
                <p>A gallery of graphs based on d3.js, visualizes baseball statistics into interactive graphs to discover interesting trends.</p>
                <div class="row" style="text-align: center;">
                    <div style="display: inline-block;">
                      <img src="/images/d3.gif" height="150">
                    </div>
                </div>
              </a>
          </div>
          <div class="thumb col-md-4" style="padding:20px;height:340px;">
            <a ui-sref="vi">
                <h3>VIRTUAL INSTRUMENT<small><br>(2013 - 2014)</small></h3>
                  <!--<div class="thumb-img" style="background-image: url('/assets/Palladio_thumb.png')"></div>-->
                <p>A project uses Kinect to capture and recognize human gestures, and define different gestures as different music notes. </p>
                <div class="row" style="text-align: center;">
                    <div style="display: inline-block;">
                      <img src="/images/vi.gif" height="150">
                    </div>
                </div>
              </a>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>